<h1>Balances#show</h1>

<p>
  <strong>Concepto:</strong>
  <%= @balance.description %>
</p>
 
<p>
  <strong>Crédito</strong>
  <%= @balance.credit %>
</p>

<p>
  <strong>Débito</strong>
  <%= @balance.debit %>
</p>